* {
    box-sizing: border-box;
}


h2 img {
    filter: brightness(0) invert(1);
float: right;
    margin-right: 5%;
    opacity: .8;

}




body {
    margin: 0;
    padding-top: 500px;
}

header {
    background-image: url(../images/monsterslive1_LR_Edit_Crop_2.jpg);

    width: 100%;
    height: 500px;
    padding-top: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    font-weight: bolder;
    color: #ffffff;
}

.main-nav,
.main {
    position: relative;
}

.main-nav {
    background: #fff;
    height: 75px;
    z-index: 150;
    margin-bottom: -100px;
}

header,
.main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
}

.main {
    background: #ffffff;
    padding: 110px 0px 0px;
}

.social {
    color: white;
    background: #fff;
    background-color: white;
}