
.container {
    width: 85%;
}

@media (min-width: 550px) {
    .container {
        width: 80%;
    }
    header {
        height: 60px;
    }
    .nav-up {
        top: -61px;
    }
}

@media (min-width: 750px) {
    .container {
        width: 65%;
    }
}

.hero-pic {
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 350;
    color: #fff;
}

header {
    background: #fff;
    background-color: #fff;
    height: 70px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 200;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.nav-up {
    top: -71px;
}

.social {
    color: white;
    background: #fff;
    background-color: white;
}

.foot {
    background-color: #fff;
    z-index: 500;
}

.section-head {
    color: #979797;
    font-weight: 500;
}



strike {
    /*    font-weight: 300;*/
    font-style: italic;
    color: #979797;
}



.break {
    display: none;
}


.mvp{
    font-weight: 600;
}


/* Media Queries */


@media (min-width: 550px) {
    header {
        height: 60px;
    }
    .nav-up {
        top: -61px;
    }
    hr.vertical {
    width: 2.5px;
    height: 260px;
    /* or height in PX */
    background-color: #D5C8C8;
    float: left;
}
 

}

@media (min-width: 750px) {
    #sidebar {
        display: inherit;
    }
       .break {
    display: inherit;
}
}





.social {
    color: white;
    background: #fff;
    background-color: white;
}

.foot {
    background-color: #fff;
    z-index: 500;
}