/*
.container {
    width: 85%;
}
*/

@media (min-width: 550px) {
    .container {
        width: 80%;
    }
    header {
        height: 60px;
    }
    .nav-up {
        top: -61px;
    }
}

@media (min-width: 750px) {
    .container {
        width: 65%;
    }
}

.hero-pic {
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 350;
    color: #fff;
}

header {
    background: #fff;
    background-color: #fff;
    height: 70px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 200;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.nav-up {
    top: -71px;
}

.social {
    color: white;
    background: #fff;
    background-color: white;
}

.foot {
    background-color: #fff;
    z-index: 500;
}

.section-head {
    color: #979797;
    font-weight: 500;
}



strike {
    /*    font-weight: 300;*/
    font-style: italic;
    color: #979797;
}


/*Sidebar code*/

#sidebar {
    width: 0%;
    float: left;
    z-index: 1;
    display: none;
}

#content-id {
    width: 724px;
    float: right;
    padding-left: 24px;
}

span {
    width: 80px;
    /*        background-color:#fff; */
    /*        border-right:solid 1px rgb(220,220,220);*/
    padding: 0 7.5%;
}

span.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top: 160px;
}

span ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

span li {}

.process {
    font-weight: 300;
}

span li a {
    /*    color:rgb(50,50,50);*/
    font-weight: 400;
    font-family: raleway;
}

a.span-active {
    color: #77B6EB;
    font-weight: 600;
}


.break {
    display: none;
}





/* Media Queries */


@media (min-width: 550px) {
    header {
        height: 60px;
    }
    .nav-up {
        top: -61px;
    }
    hr.vertical {
    width: 2.5px;
    height: 260px;
    /* or height in PX */
    background-color: #D5C8C8;
    float: left;
}
 

}

@media (min-width: 750px) {
    #sidebar {
        display: inherit;
    }
       .break {
    display: inherit;
}
}