/*
body {
    margin: 0; 
    margin-top: 52.5%; 
}
*/

.hero-pic {
/*    background-image: url(../images/UNBREAKABLEBanner_3.png);*/
/*    height: 40vh;*/
/*    width: 100%;*/
/*    min-height: 550px;*/
/*    max-height: 600px;*/
/*    padding-top: 10px;*/
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 350;
/*    position: relative;*/
    color: #fff;
}

body {
/* padding-top: 5%;*/
/*     margin-top: 75px;*/
}

header {
    background: #fff;
    background-color: #fff;
    height: 75px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 200;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.nav-up {
    top: -75px;
}


/*

.main-nav,
.main {
    position: relative;
    background-color: #fff;
}

.main-nav {
    background: #fff;
    height: 75px;
    z-index: 150;
    margin-bottom: -80px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, .1);
}

header,
.main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
}

.main {
    background: #ffffff;
    padding: 5% 0px 0px;
}
*/

.social {
    color: white;
    background: #fff;
    background-color: white;
}

.foot {
    background-color: #fff;
    z-index: 500;
}

.section-head {
    color: #979797;
    font-weight: 500;
}

hr.vertical {
    width: 2.5px;
    height: 275px;
    /* or height in PX */
    background-color: #D5C8C8;
    float: right;
}


/*Sidebar code*/

#sidebar {
    width: 1.5%;
    float: left;
    z-index: 1;
}

#content-id {
    width: 724px;
    float: right;
    padding-left: 24px;
}

span {
    width: 120px;
    /*    background-color:#fff; */
    /*    border:solid 1px rgb(220,220,220);*/
    padding: 0 3%;
}

span.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top: 160px;
}

span ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

span li {}

.process {
    font-weight: 300;
}

span li a {
    /*    color:rgb(50,50,50);*/
    font-weight: 400;
    font-family: raleway;
}

a.span-active {
    color: #77B6EB;
    font-weight: 600;
}